<form [formGroup]="userForm" autocomplete="off" (ngSubmit)="handleSubmit()">
    <span>email</span>
    <input placeholder="email" name="email" formControlName="email">
    <span style="color: red;" *ngIf="showError('email')">este campo es requerido</span>
    <br>
    <span>password</span>
    <input placeholder="pssword" name="password"  formControlName="password" type="password">
    <span style="color: red;" *ngIf="showError('password')">este campo es requerido</span>
    <button type="submit">enviar</button>
</form>