<!-- <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar class="wide">
            <span>Menu</span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list role="listitem">
            <a routerLink="/dishes/list" mat-list-item (click)="sidenav.toggle()"><span>Home</span></a>
        </mat-nav-list>
        <mat-nav-list role="listitem">
            <a routerLink="/dishes/menu" mat-list-item (click)="sidenav.toggle()">Menu</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar class="wide">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer" style="flex: 1 1 auto;"></span>
        <app-search-form (ondebouncer)="buscar($event)"></app-search-form>
        <span class="example-spacer" style="flex: 1 1 auto;"></span>
        <button (click)="logout()" mat-icon-button class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
</mat-sidenav-container> -->