
.results {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    justify-items: center;
}
.container{
    width: 60%;
    min-width: 300px;
}
.diets{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.diet{
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(38, 121, 0);
    font-size: 20px;
}