<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{dish.title|titleCard:27}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="dish.image" [alt]="dish.title">
    <mat-card-content>
        <p>
            <strong>vegan: </strong> {{dish.vegan}}
            <br>
        </p>
        <mat-card-actions>
            <button (click)="removeDishMenu(dish.id)" mat-button *ngIf="dish.itsOnTheMenu;else add"
                color="warn">remove of menu</button>
            <ng-template #add>
                <button mat-button color="info" (click)="addDishMenu(dish)">add to menu</button>
            </ng-template>
            <button mat-button color="accent" [routerLink]="['/','dishes','list',dish.id]">Info</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>